.calculator{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
#display{
    margin: 10px;
    width: 80%;
}
.btn{
    height: 40px;
    width: 50px;

}
.btn-container{
    justify-content: center;
    padding: 5px;
    margin: 5px;
}